<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrapper">
        <h1>Login For Admin Account</h1>
        <p style="text-align: center;">Welcom To Your App</p>
        <form class="form" method="post" action="/home">x
        
          <input type="text" name="email" placeholder="Login">
          
          <input type="text" name="password" placeholder="Password">
          
          <input type="submit" class="submit" value="connexion">
        
        </form>
      </div>
      <p class="optimize">
        Optimized for Chrome & Firefox!
      </p>
</body>
</html>