<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #2487a5 !important;">
    <a class="navbar-brand" href="home" style="color: white !important;">My Super Market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home" style="color: white !important;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rayon" style="color: white !important;">Rayon</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="fsseur" style="color: white !important;">Fournisseur</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="select" style="color: white !important;">produit</a>
        </li>
      </ul>
    </div>
  </nav>